<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/chat-page.css">
    <link rel="stylesheet" href="css/left-icons.css">
    <link rel="stylesheet" href="css/recents.css">
    <link rel="stylesheet" href="css/shared-media.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Document</title>
</head>
<body>
    <section class="left-icons">
        <div>
            <ul>
            <li><a href="#" class="social"><i class="bi bi-chat-square-dots"></i></a></li>
            <li><a href="#" class="social"><i class="bi bi-camera-video"></i></a></li>
			<li><a href="#" class="social"><i class="bi bi-telephone"></i></a></li>
			<li><a href="#" class="social"><i class="bi bi-people"></i></a></li>
        </ul>
        </div>
        <div>
            <ul>
			<li><a href="#" class="social"><i class="bi bi-telephone"></i></a></li>
			<li><a href="#" class="social"><i class="bi bi-people"></i></a></li>
        </ul>
        </div>
    </section >
    <div class="vl"></div>
    <section class="recents">
        <div class="header">
            <div class="title">C</div>
            <p>Chat-em</p>
        </div>
    <div class="hl"></div>
    <div class="message">
        <p>Message</p>
        <p class="recent-chats">Recent Chats</p>
    </div>
    <div class="convo">
        <div class="avatar">&#128515;</div>
        <div class="text">
            <p>Martin Karani</p>
            <p>This is a message</p>
        </div>
    </div>
    <div class="convo">
        <div class="avatar">&#128515;</div>
        <div class="text">
            <p>Martin Karani</p>
            <p>This is a message</p>
        </div>
    </div>
    <div class="convo">
        <div class="avatar">&#128515;</div>
        <div class="text">
            <p>Martin Karani</p>
            <p>This is a message</p>
        </div>
    </div>
    </section>
    <div class="vl"></div>
    <section class="chat-page">
c
    </section>
    <section class="shared-media">
d
    </section>
</body>
</html>